---
layout: page
title: Events
---

<p>Our calendar below is regularly updated with all of our upcoming events. All events are open to the public unless
  otherwise noted.</p>
  <p>You can <a
    href="https://calendar.google.com/calendar/embed?src=b6f2c910b116ae2abb27d65c0c397fc301e2334367c221c8f15f13fc3bd9b87f%40group.calendar.google.com&ctz=America%2FChicago"
    target="_blank" rel="noopener">subscribe to our chapter's calendar</a>
    and you can access the <a href="https://www.dsausa.org/calendar/" data-type="URL"
    data-id="https://www.dsausa.org/calendar/" target="_blank" rel="noreferrer noopener">National DSA Events calendar</a>.</p>

<div id="calendar"></div>

<div id="calendarModal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title"><a id="eventUrl" target="_blank">Modal title</a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body">
        <div>
          <div><span id="eventDate"></span></div>
          <div><span id="eventTime"></span></div>
        </div>
        <p id="eventLocation"></p>
        <p id="eventDescription"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.11/index.global.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#calendarModal').on('hidden.bs.modal', function () {
      $('#eventDate', this).html('');
      $('#eventTime', this).html('');
      $('#eventLocation', this).html('');
      $('#eventDescription', this).html('');
      $('#eventUrl', this).val('');
    });

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,listYear'
      },
      displayEventTime: true,
      googleCalendarApiKey: "{{ site.data.calendar-data.calendarSettings.key }}",
      events: {
        googleCalendarId: "{{ site.data.calendar-data.calendarSettings.calendarId }}"
      },
      eventClick: function (info) {
        info.jsEvent.preventDefault(); // don't let the browser navigate

        const locale = 'en-US';
        const startDate = new Date(info.event.startStr);
        const endDate = new Date(info.event.endStr);
        const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const timeOptions = { hour: "numeric", minute: "numeric", hour12: true };

        $('#eventDate').html(startDate.toLocaleDateString(locale, dateOptions));
        $('#eventTime').html(startDate.toLocaleString(locale, timeOptions) + " - " + endDate.toLocaleString(locale, timeOptions));

        $('#eventLocation').html(info.event.extendedProps.location);
        $('#eventDescription').html(info.event.extendedProps.description);

        $('#eventUrl').attr("href", info.event.url);
        $('#eventUrl').html(info.event.title);

        $('#calendarModal').modal();
      },
      eventDidMount: function (info) {
        if ('ontouchstart' in document.documentElement) {
          info.jsEvent.preventDefault();
        }

        $(info.el).tooltip({ title: info.event.title });
      }
    });

    calendar.render();
  });
</script>
